.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
}

.element {
  width: 100%;
  background-color: #5C2C3D;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 4px;
}

.image {
  width: 24px;
  height: 24px;
}

.label {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: white;
}