.element {
  position: relative;
  min-width: 200px;
  .header {
    position: relative;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    .image {
      position: absolute;
      right: 10px;
      bottom: -14px;
      z-index: 6;
    }
  }
  .content {
    width: 100%;
    height: 200px;
    background: #FFFFFF;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    .label {
      margin-top: auto;
      margin-bottom: auto;
    }
    .image {
      width: 25px;
      height: 25px;
    }
  }
}
.element-normal-line {
  border: 1px solid #000000;
}
.element-selected-line {
  border: 1px solid #DA57FF;
}
.header-normal {
  background: #000000;
}
.header-selected {
  background: #DA57FF;
}
.footer-normal {
  background: #000000;
}
.footer-selected {
  background: #DA57FF;
}
.element-container {
  background: #FFFFFF;
  position: relative;
  z-index: 6;
}
.element-black-shadow {
  position: absolute;
  top: 2px;
  left: 2px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.element-gray-shadow {
  position: absolute;
  top: 9px;
  left: 9px;
  background: rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  z-index: 5;
}