.single-collection {
  color: var(--ash);
  min-height: 100vh;
  min-width: calc(100% - 200px);
  padding: 11rem 46px 46px calc(46px + 200px);
  background: linear-gradient(180deg, #f0f6f0 0%, #cecece 100%);
  display: flex;
  gap: 8px;
  &__left-side {
    width: calc(100% - 340px);
  }
  &__right-side {
    width: 340px;
    .label {
      font-size: 18px;
      font-weight: 400;
      font-family: "Inter";
      line-height: 27px;
      color: #000000;
      margin-bottom: 16px;
    }
    .button {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 10px 16px;
      border-radius: 4px;
      background: #5B218F;
      user-select: none;
      font-size: 16px;
      font-weight: 400;
      font-family: "Inter";
      line-height: 20px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      &:hover {
        transition: background-color 0.25s ease;
        background: #A13DFB;
      }
      &:active {
        background: #481873;
      }
    }
  }
}
.collection-summary {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
  font-family: "Poppins";
  line-height: 22px;
  .route {
    font-size: 18px;
    font-weight: 700;
    color: #C74FF9;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
  }
  .slash {
    font-size: 18px;
    font-weight: 500;
  }
}
.collection-data-section {
  display: flex;

  .collection-image {
    min-width: 60%;

    .image {
      width: 100%;
      height: auto;
    }

    .image-info {
      margin-top: 20px;
    }

    .image-info-detail {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-family: "Poppins";
      line-height: 30px;
      color: #000000;

      .left {
        font-size: 18px;
      }

      .right {
        font-size: 12px;
      }
    }
  }

  .collection-data {
    min-width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Poppins";
    color: #000000;

    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
    }

    .explanation {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    .accept-offer {
      margin-top: 20px;
      width: 100%;
      background-color: #FFFFFF;
      border: 1px solid #C74FF9;
      border-radius: 4px;
      padding: 6px 8px;
      font-size: 16px;
      font-weight: 700;
      font-family: "Inter";
      color: #C74FF9;
      text-align: center;
      cursor: pointer;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-top: 20px;
      font-family: "Poppins";
      color: #000000;

      .info-item {

        .label {
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
        }

        .value {
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
  }
}

.nft-info {
  width: 100%;
  border: 0.5px solid #000000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  background: #FFFFFF;
}

.nft-info-title {
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins";
  line-height: 27px;
  margin-bottom: 16px;
}

.nft-info-header {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
  .image {
    width: 38px;
    height: 38px;
  }
  .label {
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 24px;
    color: #C74FF9;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.nft-info-content {
  width: 100%;
  padding: 12px 10px;
  background: #EEEEEE;
  border-radius: 2px;
  text-align:right;
  margin-bottom: 16px;
}

.nft-info-footer {
  display: flex;
  justify-content: space-between;
}

.nft-info-button {
  padding: 10px 32px;
  border: 1px solid #C74FF9;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #C74FF9;
  cursor: pointer;
}

.grid-container {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}

.grid-item {
  position: relative;
  text-align: center;
  border: 0.5px solid #000000;
  border-radius: 6px;
  background: #fff;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

.detail-info {
  margin-top: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 4px;
}

.detail-info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  .left {
    font-size: 16px;
    font-weight: 700;
    font-family: "Poppins";
    line-height: 24px;
    color: #000000;
  }
  .right {
    font-size: 16px;
    font-weight: 400;
    font-family: "Poppins";
    line-height: 24px;
    color: #000000;
  }
}

.detail-info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  .left {
    display: flex;
    gap: 10px;
    .image {
      width: 32px;
      height: 32px;
    }
    .label {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #000000;
      margin-top: auto;
      margin-bottom: auto;
    }
    .value {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      color: #E05E28;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .right {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #5C2C3D;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.detail-info-label {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins";
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 10px;
}

.detail-info-footer {
  display: flex;
  gap: 10px;
  .label {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }
  .value {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #5C2C3D;
  }
}