.collection {
  color: var(--ash);
  min-height: 100vh;
  min-width: calc(100% - 200px);
  padding: 11rem 46px 46px calc(46px + 200px);
  background: linear-gradient(180deg, #f0f6f0 0%, #cecece 100%);
  display: flex;
  gap: 8px;
  &__left-side {
    width: 80%;
    .grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin: 32px 32px 0 0;
    }
  }
  &__right-side {
    width: 20%;
    .label {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: #000000;
      margin-bottom: 16px;
    }
    .button {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 6px 16px;
      border-radius: 4px;
      background: #5B218F;
      user-select: none;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      &:hover {
        transition: background-color 0.25s ease;
        background: #A13DFB;
      }
      &:active {
        background: #481873;
      }
    }
  }
}
.nft-summary {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
  .route {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #C74FF9;
    margin-top: auto;
    margin-bottom: auto;
  }
  .count {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    margin-top: auto;
    margin-bottom: auto;
  }
  .floor {
    display: flex;
    gap: 6px;
    .image {
      width: 32px;
      height: 32px;
    }
    .label {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: #000000;
      margin-top: auto;
      margin-bottom: auto;
    }
    .down-value {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: #E05E28;
      margin-top: auto;
      margin-bottom: auto;
    }
    .up-value {
      font-size: 18px;
      font-weight: 700;
      line-height: 22px;
      color: #2C7444;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
.nft-info {
  width: 100%;
  border: 0.5px solid #000000;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  background: #FFFFFF;
}
.nft-info-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 16px;
}
.nft-info-header {
  display: flex;
  gap: 8px;
  margin-bottom: 14px;
  .image {
    width: 38px;
    height: 38px;
  }
  .label {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #C74FF9;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.nft-info-content {
  width: 100%;
  padding: 12px 10px;
  background: #EEEEEE;
  border-radius: 2px;
  text-align:right;
  margin-bottom: 16px;
}
.nft-info-footer {
  display: flex;
  justify-content: space-between;
}
.nft-info-button {
  padding: 10px 32px;
  border: 1px solid #C74FF9;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #C74FF9;
  cursor: pointer;
}
.grid-container {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8px;
}
.grid-item {
  position: relative;
  text-align: center;
  border: 0.5px solid #000000;
  border-radius: 6px;
  background: #fff;
  padding: 4px 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}
.close {
  position: absolute;
  top: -8px;
  right: -4px;
  background: white;
}
.detail-info {
  margin-top: 16px;
  padding: 16px;
  background-color: #FFFFFF;
  border: 0.5px solid #000000;
  border-radius: 4px;
}
.detail-info-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  .left {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
  }
  .right {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }
}
.detail-info-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  .left {
    display: flex;
    gap: 10px;
    .image {
      width: 32px;
      height: 32px;
    }
    .label {
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      color: #000000;
      margin-top: auto;
      margin-bottom: auto;
    }
    .value {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      color: #E05E28;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .right {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #5C2C3D;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
.detail-info-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 10px;
}
.detail-info-footer {
  display: flex;
  gap: 10px;
  .label {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
  }
  .value {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #5C2C3D;
  }
}
