.grid-element {
  width: 200px;
}
.grid-header {
  width: 100%;
  border: 1px solid #000;
  background-color: white;
  display: flex;
}
.grid-box {
  position: relative;
}
.grid-container {
  position: relative;
  z-index: 6;
}
.header-left {
  width: calc(100% - 38px);
  padding: 8px;
  color: black;
  display: flex;
  justify-content: space-between;
  .left-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .left-number {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
  }
}
.header-right {
  width: 38px;
  .image-container {
    height: 100%;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
  }
}
.grid-content {
  width: 100%;
  height: 200px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.grid-name {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.grid-footer {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 8px;
  background-color: white;
  .footer-info {
    display: flex;
    justify-content: space-between;
    color: black;
    .info-label {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .info-value {
      font-size: 20px;
      font-weight: 700;
      line-height: 22px;
    }
  }
}
.grid-shadow {
  position: absolute;
  position: absolute;
  top: 9px;
  left: 9px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: linear-gradient(#DA57FF 36%, #F5D3FF 100%);
}
.top-corner {
  width: 14.5px;
  height: 14.5px;
  border-top: 1px solid #000;
  border-radius: 1.5px;
  position: absolute;
  right: 3px;
  top: -7px;
  transform: rotate(45deg);
  background: #DA57FF;
}
.bottom-corner {
  width: 14.5px;
  height: 14.5px;
  border-bottom: 1px solid #000;
  border-radius: 2px;
  position: absolute;
  bottom: 3px;
  left: -6.5px;
  transform: rotate(45deg);
}