.collection {
  color: var(--ash);
  min-height: 100vh;
  min-width: calc(100% - 200px);
  padding: 11rem 46px 46px calc(46px + 200px);
  background: linear-gradient(180deg, #f0f6f0 0%, #cecece 100%);
  display: flex;
  gap: 8px;
  &__left-side {
    width: 80%;
    .label {
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      color: #000000;
    }
    .grid {
      display: grid;
      gap: 20px;
      grid-template-columns: auto auto auto auto;
      margin-top: 32px;
    }
    .grid-element {
      width: 200px;
    }
    .grid-header {
      width: 100%;
      border: 1px solid #000;
      background-color: white;
      display: flex;
    }
    .grid-box {
      position: relative;
    }
    .grid-container {
      position: relative;
      z-index: 6;
    }
    .header-left {
      width: calc(100% - 38px);
      padding: 8px;
      color: black;
      display: flex;
      justify-content: space-between;
      .left-label {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
      }
      .left-number {
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
      }
    }
    .header-right {
      width: 38px;
      .image-container {
        height: 100%;
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        justify-content: center;
      }
    }
    .grid-content {
      width: 100%;
      height: 200px;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      background-color: white;
    }
    .grid-name {
      width: 100%;
      padding: 8px;
      background: black;
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
    .grid-footer {
      width: 100%;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 8px;
      background-color: white;
      .footer-info {
        display: flex;
        justify-content: space-between;
        color: black;
        .info-label {
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
        .info-value {
          font-size: 20px;
          font-weight: 700;
          line-height: 22px;
        }
      }
    }
    .grid-shadow {
      position: absolute;
      position: absolute;
      top: 9px;
      left: 9px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      border-radius: 2px;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: linear-gradient(#DA57FF 36%, #F5D3FF 100%);
    }
    .top-corner {
      width: 14.5px;
      height: 14.5px;
      border-top: 1px solid #000;
      border-radius: 1.5px;
      position: absolute;
      right: 3px;
      top: -7px;
      transform: rotate(45deg);
      background: #DA57FF;
    }
    .bottom-corner {
      width: 14.5px;
      height: 14.5px;
      border-bottom: 1px solid #000;
      border-radius: 2px;
      position: absolute;
      bottom: 3px;
      left: -6.5px;
      transform: rotate(45deg);
    }
  }
  &__right-side {
    width: 20%;
    .label {
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      color: #000000;
    }
    .button {
      margin-top: 8px;
      margin-bottom: 8px;
      padding: 6px 16px;
      border-radius: 4px;
      background: #5B218F;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: center;
      color: #fff;
      cursor: pointer;
    }
    .grid-container {
      margin-top: 16px;
      margin-bottom: 16px;
      display: grid;
      gap: 8px;
      grid-template-columns: auto auto auto;
    }
    .grid-item {
      position: relative;
      width: 100%;
      text-align: center;
      border: 0.5px solid #000000;
      border-radius: 6px;
      background: #fff;
      padding: 6px 12px;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      color: #000000;
      cursor: pointer;
      .close {
        position: absolute;
        top: -8px;
        right: -4px;
        background: white;
      }
    }
  }
}