.strong-float {
  width: 100%;
  float: right;
}

@media (min-width: 1024px) {
  .public-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: #eee;
  }

  .public-section {
    display: grid;
    grid-row-gap: 1em;
    margin: 5em;
    width: 800px;
    min-height: 50vh;
    line-height: 1em;
    color: #000;

    h1,
    h3,
    h4 {
      font-weight: 800;
      line-height: 1em;
    }

    h1 {
      font-weight: 800;
      font-size: 2.5em;
      line-height: 1em;
    }

    h3,
    h4 {
      margin: 1em 0 0 0;
      font-weight: 800;
    }

    h3 {
      font-size: 2em;
    }

    h4 {
      font-size: 1.6em;
    }

    p,
    li,
    strong,
    td {
      font-size: 1.6em;
      line-height: 1.6em;
    }

    p,
    table {
      margin: 0.5em 0 0;
      strong,
      li {
        font-size: 1em;
      }
    }

    ul {
      margin-left: 1em;
    }

    a {
      color: var(--pink);

      &:hover {
        text-decoration: none;
      }
    }

    table {
      border-collapse: collapse;

      thead {
        font-weight: 800;
      }

      td {
        margin: 0;
        padding: 0.5em;
        width: 33%;
        border: 1px solid #ccc;
      }
    }
  }
}
