.side-bar {
  width: 200px;
  border-right: 1px solid #6D2E46;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #f0f6f0 0%, #cecece 100%);

  &__pink-bar {
    height: 10px;
    background: #6D2E46;
  }

  &__main {
    position: relative;
    height: 100%;
    margin-left: 20px;
    margin-right: 8px;
    min-height: 72px;
  }
}

.logo {
  margin-top: 16px;
  margin-bottom: 56px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  img {
    height: 28px;
    margin-right: 10px;
  }

  span {
    position: relative;
    bottom: 5px;
  }
}

.item-logo {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;

  &__active {
    color: #C74FF9;
    font-weight: 700;
  }

  img {
    height: 21px;
    margin-right: 10px;
  }

  span {
    position: relative;
    bottom: 5px;
  }
}

.item-sub {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  &__active {
    color: #C74FF9;
    font-weight: 700;
  }

  img {
    height: 21px;
    margin-right: 10px;
  }

  span {
    position: relative;
    bottom: 5px;
  }
}

.item-sub-menu {
  margin-left: 32px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 300;
  line-height: 0;
  cursor: pointer;

  &__active {
    color: #C74FF9;
    font-weight: 700;
  }
}

.social {
  position: absolute;
  bottom: 110px;
  .item {
    display: flex;
    gap: 16px;
    margin-bottom: 4px;
  }
  .link {
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    color: black;
  }
}