@mixin primary-btn {
  padding: 0.5em 1.2em;
  width: auto;
  height: auto;
  color: #fff;
  font-size: 2em;
  text-align: center;
  border-radius: 4px;
  border-color: var(--green);
  background: var(--green);
  cursor: pointer;
}
