@import './reset.scss';
@import './public.scss';

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --light-pink: #e688ff;
  --pink: #b74bd4;
  --purple: #5b218f;
  --green: #13f195;
}

/* semantic color variables for this project */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
