.strong-float {
  width: 100%;
  float: right;
}

@media (min-width: 1024px) {
  .public-wrapper {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      background: #eee;
    }

  .public-section {
    display: grid;
    grid-row-gap: 1em;
    margin: 2em;
    width: 800px;
    min-height: 50vh;
    line-height: 1em;
    color: #000;

    h1,
    h3,
    h4 {
      font-weight: 800;
      line-height: 1em;
    }

    h1 {
      font-weight: 800;
      font-size: 2.5em;
      line-height: 1em;
    }
    
    h3 {
      font-size: 1.5em;
      line-height: 1em;
      font-weight: 800;
    }
    
    P {
      line-height: 1.5em;
    }
  
    ul {
      margin-left: 1em;
  
      li {
        margin-bottom: 1em;
        line-height: 1.25em;
      }
    }
    
    a {
      color: var(--purple);
  
      &:hover {
        text-decoration: none;
      }
    }
  
    table {
      border-collapse: collapse;
  
      thead {
        font-weight: 800;
      }
  
      td {
        margin: 0;
        padding: 0.5em;
        width: 33%;
        border: 1px solid #ccc;
      }
    }
  }
}